aiohappyeyeballs
aiohttp
aiosignal
alabaster
annotated-types
appnope
asttokens
astunparse
async-timeout
attrs
babel
beautifulsoup4
bleach
blinker
branca
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
datascience
debugpy
decorator
defusedxml
dill
docutils
et_xmlfile
exceptiongroup
executing
fastjsonschema
fica
flexcache
flexparser
folium
fonttools
freetype-py
frozenlist
geopandas
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
h2
hpack
httplib2
hyperframe
idna
imagesize
importlib_metadata
importlib_resources
ipykernel
ipylab
ipython
ipywidgets
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
jupyterlab_widgets
jupytext
kaleido==0.2.1
kiwisolver
mapclassify
markdown-it-py
MarkupSafe
matplotlib==3.9.4
matplotlib-inline
mdit-py-plugins
mdurl
mistune
msgpack
multidict
munkres==1.1.4
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
networkx
numpy
oauthlib
openpyxl
OptKing
otter-grader
packaging
pandas
pandocfilters
parso
patsy
pdfrw
pexpect
pickleshare
pillow
Pint
pkgutil_resolve_name
platformdirs
playwright==1.51.0
plotly
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
py3Dmol
pyasn1
pyasn1_modules
pycairo==1.27.0
pycparser
pydantic
pydantic_core
pyee==12.1.1
Pygments
PyJWT
pyogrio
pyOpenSSL
pyparsing
pyproj
PySocks
python-dateutil
python-on-whales
pytz
pyu2f
PyYAML
pyzmq
qcelemental
qcengine
rdkit
referencing
reportlab
requests
requests-oauthlib
rich
rlPyCairo
rpds-py
rsa
scikit-learn
scipy
seaborn
shapely
shellingham
six
snowballstemmer
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
stack_data
statsmodels
threadpoolctl
tinycss2
tomli
tornado
tqdm
traitlets
typer==0.15.2
typer-slim==0.15.2
typing_extensions
tzdata
unicodedata2
uritemplate
urllib3
wcwidth
webencodings
widgetsnbextension
wrapt
xyzservices
yarl
zipp
zstandard==0.23.0